html {
  height: 100%;
}

header .inner {
  position: relative;
  height: 290px;
  background-image: url(https://www.vietnammm.com/assets/images/header/pizza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .inner .logo {
  position: absolute;
  width: 220px;
  height: 60px;
  line-height: 60px;
  background-color: #FF9900;
  padding: 0 20px;
}

.top-navbar .container {
  height: 100%;
}

.navbar {
  padding: 0 0 0 0;
  height: 100%;
}

.navbar-nav {
  height: 100%;
}

header .logo img {
  display: inline-block;
  width: auto;
  max-width: 150px;
  line-height: 1.5em;
  max-width: 180px;
}

header .top-navbar {
  position: absolute;
  bottom: 0;
  height: 50px;
  left: 0;
  width: 100%;
  background: rgba(76,76,76,.25);
  color: #fff;
}

body {
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #666;
  font-family: Open Sans,Helvetica,sans-serif;
  font-weight: 400;
  font-size: 13px;
  background-color: #f9f5f1;
  line-height: 1.5;
  text-align: left;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.main-content {
  flex: 1 0 auto;
}

.top-navbar ul {
  width: 100%;
}
.top-navbar ul li {
  width: 25%;
  text-align: center;
}

.nav-item {
  width: 25%;
  display: inline-block;
  height: 100%;
}

.top-navbar ul li a {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  height: 100%;
  line-height: 50px;
  padding: 0 0 0 0;
}

.top-navbar ul li a:hover {
  color: #000;
  font-weight: bold;
  background-color: rgb(238, 238, 238);
}

.nav li.active a{
  background-color: rgb(238, 238, 238);
  color: #000;
}

.list-orders {
  height: 500px;
  background-color: #9eb0bf;
}

footer .subfooter {
  line-height: 22px;
  background-color: #FF9900;

  padding-top: 20px;
  position: relative;
}

footer .subfooter a {
  color: #fff;
}

.list-order {
  height: 100%;
  margin: 0 auto;
}

.article{
  min-height: 118px;
  padding: 16px;
  margin: 4px 0;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
  min-width: 300px;
}

.thumbnail-wrapper{
  text-align: center;
}

.thumbnail{
  max-width: 155px;
  display: inline-block;
  width: 100%;
}

a {
  text-decoration: none;
}

.thumbnail img{
  width: 100%;
    height: auto;
    display: inline-block;
}

.info-wrapper{
  font-size: 15px;
    padding-bottom: 0;
    line-height: 1.7;
    font-size: 11px;
    padding: 8px 4px;
}

.article-title{
  padding: 0;
    color: #333;
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin: 0;
}

.article-title a{
  line-height: 1.2rem;
    font-weight: 600;
    text-align: left;
    color: #333;
    margin: 0 0 4px;
}

.number-join,.time-out{
  margin-top: 8px;
}

.number-join .joined{
  color: red;
}

.price{
  font-weight: 500;
  font-size: 1rem;
}

.time-out, .count-down{
  font-size: 20px;
}

.join-order{
  margin-top: 40px;
  text-align: center;
}

.article:hover {
  background-color: #eef7fa;
  cursor: pointer;
}

.join-order .btn {
  font-size: 15px;
}

.article-title:hover{
  text-decoration: none;
  color: #337ab7;
}

.price .price-text {
  font-weight: bold;
}

.article .description {
  font-size: 1rem;
  margin-top: 10px;
}

.flex-1 {
  flex: 1 !important;
}

.number-joine-res{
  display: none;
}

.join-order .btn{
  border-radius: 0;
}

.logo-icon img{
  height: 40px;
  width: auto;
}

.join-form {
  width: 100%;
}

.join-form .row {
  margin: 0 0 0 0;
}

.join-form .btn {
  float: right;
  border-radius: 0;
  margin-top: 10px;
}

.row1 textarea {
  margin: 0 0 0 0 !important;
}

.join-form a {
  color: #fff !important;
}

.subfooter h5 {
  color: black;
  font-size: bold;
}

.bottom-footer .sprate-line{
  border-bottom: .01rem solid #fff;;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #FF9900;
    border-color: #FF9900;
}

.page-link{
  color: #FF9900;
}